/* Nav.css */
/* Nav.css */
.my-navbar {
  z-index: 1000; /* Asegura que quede por encima del contenido */
}




/* Home.css */
.home-skills ul {
  list-style: none; /* Quitar puntos de lista */
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Permitir que se acomoden como chips */
  gap: 10px; /* Espacio entre elementos */
}

.home-skills li {
  background-color: #e0bbff; /* Morado claro */
  color: #5e2ca5; /* Morado fuerte */
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 500;
  display: inline-block;
  margin: 0;
}


.experien {
  min-height: 20px;
  padding: 20px 30px;/* 20px arriba y abajo, 0 a los lados */
}

.fondo{
  background-color:rgb(232, 232, 232);
}


/* Home.css */
@media (max-width: 510px) {
  .img-container img {
    max-width: 200px;
    width: 100%;
    height: auto;
  }

  .img-container {
    min-width: 200px;
    margin-bottom: 1rem;
  }

  .text-container {
    flex: 1;
    min-width: 200px;
    text-align: justify;
  }
}

/* Este bloque debe estar separado y no anidado */
@media (max-width: 1180px) {
  .text-container {
    margin-top: 1rem;
    text-align: center;
  }

  .row {
    flex-direction: column !important;
  }

  .img-container {
    margin-bottom: 1.5rem;
  }
}






/* Home.css */
.home-skills ul {
  list-style: none; /* Quitar puntos de lista */
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Permitir que se acomoden como chips */
  gap: 10px; /* Espacio entre elementos */
}

.home-skills li {
  background-color: #aed6f1 ; /* Morado claro */
  color: #2e86c1 ; /* Morado fuerte */
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 500;
  display: inline-block;
  margin: 0;
}


.experien {
  min-height: 20px;
  padding: 20px 30px;/* 20px arriba y abajo, 0 a los lados */
}

.fondo{
  background-color:rgb(232, 232, 232);
}


/* Home.css */
@media (max-width: 510px) {
  .img-container img {
    max-width: 200px;
    width: 100%;
    height: auto;
  }

  .img-container {
    min-width: 200px;
    margin-bottom: 1rem;
  }

  .text-container {
    flex: 1;
    min-width: 200px;
    text-align: justify;
  }
}

/* Este bloque debe estar separado y no anidado */
@media (max-width: 1180px) {
  .text-container {
    margin-top: 1rem;
    text-align: center;
  }

  .row {
    flex-direction: column !important;
  }

  .img-container {
    margin-bottom: 1.5rem;
  }
}


body {
  padding-top: 70px; /* Ajusta este valor según la altura del Navbar */

}



.footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 1rem;
  padding-top: 5rem;
}


.custom-item {
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.custom-item:hover {
  transform: scale(1.05); /* agrandar un poco */
  border-color: black;  /* azul Bootstrap */
  background-color: #aed6f1; /* opcional: fondo más oscuro */
  cursor: pointer;
}

.email-copy {
  text-decoration: underline;
  cursor: pointer;
  color: #2e86c1;
}

.email-copy:hover {
  text-decoration: underline;
  font-weight: bold;
}









